* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 1% 3%;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-content: flex-start;
}

#holder_section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  justify-content: space-evenly;
}

.actual-child {
  width: 200px;
  height: fit-content;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 4px;
}

.actual-child:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.child > img:first-of-type {
  width: 100%;
  height: 170px;
  object-fit: scale-down;
}

.child > div:first-of-type {
  color: #c11c1f;
  text-align: right;
  background-color: #fff;
  font-size: 11px;
  height: auto;
  padding: 5px 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#prices {
  font-size: 12px;
}

.child > p {
  font-size: 16px;
}

#options {
  width: 100%;
  font-size: 14px;
}

#prices > span:first-of-type {
  text-decoration: 1px solid black line-through;
}

#delivery > span {
  font-size: 12px;
  line-height: 20px;
}

#delivery > i {
  color: grey;
  margin-right: 5px;
}
#delivery > i:hover {
  color: rgb(29, 187, 29);
  cursor: pointer;
}

.child > img + p {
  font-size: 11px;
  color: #999;
  margin-bottom: -10px;
}

#addtocartbutton {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  height: 20px;
}

#addtocartbutton > div {
  display: flex;
  align-items: center;
  width: fit-content;
  border-right: 0px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  height: 20px;
}

#addtocartbutton > button {
  background: rgb(248, 218, 121);
  font-size: 11px;
  /* padding: 5px 10px; */
  margin: 0 15px;
  border: none;
  /* margin-right: 10%; */
  width: 100%;
  cursor: pointer;
}

.child > div:first-of-type {
  font-size: 10px;
}

#addtocartbutton > div > span {
  margin-right: 10px;
}

#addtocartbutton > div > input {
  padding: 5px auto;
  text-align: center;
  width: 100%;
  margin-left: 10px;
  border: none;
  height: 100%;
}

#addtocartbutton > input:focus {
  outline: 1px solid green;
}

.lower-holder {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  padding-top: 1px;
  border-radius: 4px;
}

#options {
  height: 30px;
  padding-left: 8px;
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#options:focus {
  outline: 1px solid green;
}

.thinline {
  height: 100vh;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

#categoryText {
  font-size: 35px;
}

#categoryText::first-letter {
  text-transform: uppercase;
}

.allproducts {
  padding: 10px;
  border-bottom: 1px solid #5d5d5d;
}

.allproducts:hover {
  font-weight: bold;
  cursor: pointer;
}

.allproducts > i {
  color: rgb(132, 194, 37);
  margin-right: 8px;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-right: 9px;
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"] + span {
  font-size: 15px;
}

input[type="checkbox"] + span:hover {
  font-size: 15px;
  color: rgb(132, 194, 37);
  cursor: pointer;
}
.category_section > h3 {
  padding: 10px 0px;
  border-bottom: 1px solid green;
}

.modal_success {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(233, 240, 218);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (max-width: 1067px) {
  #holder_section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: space-evenly;
  }

  .category_section {
    display: none;
  }
}
@media only screen and (max-width: 561px) {
  #holder_section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: space-evenly;
  }

  .category_section {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  #holder_section {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: space-evenly;
  }

  .category_section {
    display: none;
  }
}
