#nav1{
    
    width: 90%;
    /* display: block; */
}
#nav1-child{
    font-size: 14px;
    float: right;
    margin: auto;
    display: flex;
}
#nav1-child>p{
   
    padding-left: 10px;
}
#nav1-child p>a{
    text-decoration: none;
    color: black;
}
.but1{
    background: white;
    border: none;
}
.but2{
    background: white;
    border: none;
}
#nav1-child p>a:hover{
    color: #84c225;
}
.but1:hover{
    color: #84c225;
}
.but2:hover{
    color: #84c225;
}

/* navbar */

#navbar{
    width: 80%;
    margin: auto;

    margin-bottom: 20px;
   /* position: fixed; */
   background: white;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
 
  

}
input{
    width: 50%;
    margin-left: -50px;
    padding: .5%;
}
#search_button{
  background-color: #84c225;
  width:5%;
  margin-left: -5.8rem;
  padding: 8px;
  border: .01px #84c225;
}




 img{
    width:200px;
    margin-left: -75px;
    /* height: 25px; */
}

#my_basket{
    /* border: 1px solid black; */
    padding: 2em;
    margin-right: -90px;
    background-color: rgb(248, 245, 245);
}

#my_basket>button{
  
   border: white;
   background-color: rgb(249, 243, 243);;
   padding: 5px;
}

/* css to vegetables */

#vegetables{
    margin-top: 10px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:20px;
   margin: auto;
   width: 80%;
   /* padding: 10px; */
  
   
   
}

#card{
    width: 100%;
    padding: 10px;
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
#card>img{
    margin-left: auto;
    width: 80%;
}
#card:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* adding css to another nav */
#another{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
   
    display: flex;
   /* align-items: center; */
   /* justify-content: space-evenly; */
   /* height: 40px; */
}
#another li{
    list-style: none;
   
   
}
#shop>a{
    background-color:#84c225;
    color: azure;
}
#offer>a{
    color: black;
}
#another li>a{
    padding: 10px;
    text-decoration: none;
   
}

/* css to sub menu */

.sub_menu-1{
    display: none;

}
.sub_menu-1 li>a{
    color: black;
}
#another li:hover .sub_menu-1{
    display: block;
    position: relative;
    background-color: rgb(244, 240, 246);
    margin-top: 15px;
    margin-left: -15px;
}
#another li:hover .sub_menu-1 ul{
display: block;
margin: 10px;
/* background-color: pink; */
}
#another li:hover .sub_menu-1 ul li{
    /* background-color: pink; */
    padding: 8px; 
    border-bottom: 1px solid black;
    border-radius: 0;
    text-align: left;


}

.sub-menu-2{
    display: none;
} 
.sub-menu-2 ul li>a{
    text-decoration: none;
    color: black;
    
}  

.hover-me:hover .sub-menu-2{
    width: 250px;
    position: absolute;
    display: block;
    margin-top: -32px;
    margin-left: 150px;
    background: rgb(244, 240, 246);
}

/* css to below the carosal */

#box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
 .card{
    margin: 10px;
   
}
.card a>img{
    width: 100%;
    margin: auto;
    
}
.heading{
    text-align: center;
    margin-bottom: 10px;
}

/* css for bank offers */
.offer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:  10px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.offer img{
    width: 100%;
    margin: auto;
    border-radius: 2px;
    border: 1px solid rgb(143, 141, 141);
}
.offer img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* css for fruits, snacks and cleaning */

.fruit-snack-cleaning{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:  10px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    

}
.fruit-snack-cleaning img{
    width: 100%;
    margin: auto;
    border-radius: 2px;
    border: 1px solid rgb(143, 139, 139);
}
.fruit-snack-cleaning img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.daily-beverages-beauty-home{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:  10px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.daily-beverages-beauty-home img{
    width: 100%;
    margin: auto;
    border-radius: 2px;
    border: 1px solid rgb(152, 150, 150);
}
.daily-beverages-beauty-home img:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Footer-1 */

.footer-1{
   width: 80%;
   font-size: 13px;

   margin: auto;
    border: 1px solid rgb(168, 166, 166);
    padding: 10px;
    margin-bottom: 50px;
}

/* read more */
#more{
    display: none;
}

/* footer-2 */
.footer-2{
    font-size: 13px;
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
}
.footer-2 div ul>li{
    margin-left: -40px;
    list-style: none;
    padding-bottom: 8px;
}
.footer_col{
    color: #84c225;
    font-size: 20px;
}
.abc{
    display:block;
     margin-left: 5px;
}

/* Media Quaries */
@media only screen and ( min-width: 641px) and (max-width: 1007px) {
    #box{
        grid-template-columns: repeat(3,1fr);
    }
    #vegetables{
        grid-template-columns: repeat(3,1fr);
    }
    .offer{
        grid-template-columns: repeat(3,1fr);
    }
    .daily-beverages-beauty-home{
        grid-template-columns: repeat(3,1fr);
    }
    .fruit-snack-cleaning{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-2{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and ( min-width: 0px) and (max-width: 640px) {
    #box{
        grid-template-columns: repeat(2,1fr);
    }
    #vegetables{
        grid-template-columns: repeat(2,1fr);
    }
    .offer{
        grid-template-columns: repeat(2,1fr);
    }
    .daily-beverages-beauty-home{
        grid-template-columns: repeat(2,1fr);
    }
    .fruit-snack-cleaning{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-2{
        grid-template-columns: repeat(1,1fr);
    }
}




